<div class="row">
                    

                    <div class="col-lg-12">
                        <div class="card-box">

<p id="notice"><%= notice %></p>
                            

                            <h4 class="header-title m-t-0 m-b-30">Assigned Employees</h4>

                           <p><%= button_to 'Assign New Employee', new_assign_employee_path ,:class=>"btn btn-pink pull-right",:method => :get%></p>

                            <table class="table table table-hover m-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Company Name</th>
                                        <th>Client Name</th>
                                        <th>Assigned Date</th>
                                        <th>Comments</th>
                                        <th colspan="3">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                 <% @assign_employees.each do |assign_employee| %>
                                    <tr>
                                        <td><%= assign_employee.id %></td>
                                        <td><%= assign_employee.client %></td>
        <td><%= assign_employee.employee %></td>
        <td><%= assign_employee.assign_date %></td>
        <td><%= assign_employee.comments %></td>
        <td><%= button_to 'Show', assign_employee,:class=>"btn btn-primary",:method => :get %></td>
        <td><%= button_to 'Edit', edit_assign_employee_path(assign_employee) ,:class =>"btn btn-warning",:method => :get%></td>
      <td> <%= button_to 'Delete', assign_employee, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"btn btn-danger"%></td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>

                        </div>
                    </div><!-- end col -->

                </div>
                <!-- end row -->



